version: '3.8'

services:
  
  redis:
    image: redis:alpine
    container_name: redis-shop
    ports:
      - "6379:6379"
    restart: always

  
  mongodb:
    image: mongo:latest
    container_name: mongodb-shop
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data: